.Rproj.user
.Rhistory
.RData
.Ruserdata
src/fit_rainfall/chirps/*
src/fit_smc/outputs/*
src/fit_smc/simulation_outputs/*


# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
